<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555153307488-72jtra4rnvqokajr7b6f30pcrfa5pmfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555153307488-72jtra4rnvqokajr7b6f30pcrfa5pmfe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>555153307488-2f1gdb51acccdc29ih8o0urbi1rob6pu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOMxgPlqOy7pE5KAveGsLnNbU7ZY3HIBY</string>
	<key>GCM_SENDER_ID</key>
	<string>555153307488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.accuite.akorex</string>
	<key>PROJECT_ID</key>
	<string>akorex</string>
	<key>STORAGE_BUCKET</key>
	<string>akorex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555153307488:ios:43f548f75906c37615d005</string>
	<key>DATABASE_URL</key>
	<string>https://akorex-default-rtdb.firebaseio.com</string>
</dict>
</plist>