<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8027435544-l3pm4eksojeh29eo5p9un69dpgqq6tif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8027435544-l3pm4eksojeh29eo5p9un69dpgqq6tif</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>8027435544-vp67i8ictdigpq2q680i405semln3mka.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-VYe9HLcVHbVzrD0lU08isGA_KT68fhk</string>
	<key>GCM_SENDER_ID</key>
	<string>8027435544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akorex.personacare</string>
	<key>PROJECT_ID</key>
	<string>akorex-selfcare</string>
	<key>STORAGE_BUCKET</key>
	<string>akorex-selfcare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8027435544:ios:1935cee42762c3e1f2896d</string>
</dict>
</plist>